section#projects.single-project
  article.project
    .container
      .four.columns
        h2 &#9758; {{project.name}}
        p(ng-show="project.description") {{project.description}}
        .actions(ng-show="user")
          a(href="javascript:void(0);" ng-click="edit(project)" title="Edit") E
          a(href="javascript:void(0);" ng-click="remove(project)" title="Remove") R
      .eight.columns
        web-device.desktop-device(src="project.url" width="1366" height="800")
          .details
            a.rel(ng-href="{{project.url}}" rel="external" target="_blank" title="{{project.name}}") #
        .mobile-display(ng-show="project.mobile")
          web-device.mobile-device(src="project.url" width="360" height="640")
    .gh
      .container
        .twelve.columns
          h2 Recent activity on GitHub
          #gh-chart(ng-show="project.github")
            gh-chart(data="project.commitActivity" line-color="'#999'" tooltip="true" full="true")
    .long-description(ng-show="project.long_description" ng-bind-html="project.long_description | toHtml")
