h2 
  span(ng-show="project.$id") Editing project
  span(ng-hide="project.$id") New project
form(ng-submit="project.$id ? project.$save() : projects.$add(project)")
  input#name(type="text" ng-model="project.name" placeholder="Name")
  input#url(type="text" ng-model="project.url" placeholder="URL")
  input#github(type="text" ng-model="project.github" placeholder=":owner/:repo")
  input#tags(type="text" ng-model="project.tags" placeholder="Tags (comma-separated)")
  textarea#description(ng-model="project.description" placeholder="Description")
  .checkbox-field
    input#mobile(type="checkbox" ng-model="project.mobile") 
    label(for="mobile") Show mobile version
  h3 
    label(for="long_description") Long description
  text-angular#long_description(ng-model="project.long_description")
  input(type="submit" value="Submit")
