h2 Settings
form(ng-submit="about.$save()")
  input#title(type="text" ng-model="about.title" placeholder="Site title")
  input#tagline(type="text" ng-model="about.tagline" placeholder="Site tagline")
  textarea#description(ng-model="about.description" placeholder="Description")
  input(type="submit" value="Submit")
