extends views/layouts/site

block title
  title Miguel Peixe
  
block head

block header-branding
  h1
    a(ui-sref="home") {{about.title || 'Site title'}}
  p {{about.tagline || 'Tagline'}}

block sections
  section#welcome
    p {{about.description || 'Description'}}

block body
  div(ui-view autoscroll="true")
  section#projects.project-list
    article.project.new(ng-show="user")
      .container
        .twelve.columns
          h3
            a(href="javascript:void(0);" ng-click="new()") + New project
    article.project(ng-repeat="project in projects" ng-hide="project.$id == viewingProject")
      .container
        .twelve.columns
          h3 
            a(ui-sref="project({projectId: project['$id']})") &#9758; {{project.name}}
          .actions(ng-show="user")
            a(href="javascript:void(0);" ng-click="edit(project)" title="Edit") E
            a(href="javascript:void(0);" ng-click="remove(project)" title="Remove") R
