extends views/layouts/site

block title
  title Miguel Peixe
  
block head

block header-branding
  h1
    a(ui-sref="home") Miguel Peixe
  p Web Developer

block sections
  p I'm a São Paulo based web designer and developer focused on community engaging platforms, transparency, maps and data visualization. Currently working with friends at 
    a(href="http://infoamazonia.org/" rel="external" target="_blank") InfoAmazonia
    | , 
    a(href="http://codigourbano.org/" rel="external" target="_blank") Código Urbano
    | &nbsp;and the Digital Ecology Institute.
