extends views/layouts/site

block title
  title Miguel Peixe
  
block head

block header-branding
  h1
    a(ui-sref="home") {{about.title || 'Site title'}}
  p {{about.tagline || 'Tagline'}}

block sections
  section#welcome
    p {{about.description || 'Description'}}

block body
  div(ui-view autoscroll="true")
  section#projects.project-list
    header#projects-header
      .container
        .four.columns
          .header-content
            h2 Projects
            button(ng-show="user" ng-click="new()" title="Add new project") +
    article.project(ng-repeat="project in projects | orderBy:'totalCommits':true" ng-hide="project.$id == viewingProject")
      .container
        .twelve.columns
          h3 
            a(ui-sref="project({projectId: project['$id']})") &#9758; {{project.name}}
          gh-chart(data="project.commitActivity" width="150" height="60" line-color="'#999'" tooltip="false")
          p.tags(ng-show="project.tags")
            span(ng-repeat="tag in (project.tags | commaSplit)") {{tag}}
          p.description {{project.description}}
          .actions(ng-show="user")
            a(href="javascript:void(0);" ng-click="edit(project)" title="Edit") E
            a(href="javascript:void(0);" ng-click="remove(project)" title="Remove") R
